*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    display: inline-block;
   padding:10px 30px 10px 30px; 
   background: lightblue;
   color: white;
}

.navbar{
 /* background: lightgreen;
  border:none;
  border-radius: 0px;*/
}/*para que esto funcione tiene que tener solo la clase navbar sin mas nada*/